<launch>
    <arg name="model" default="$(find xacro)/xacro --inorder '$(find simulation_learning)/models/xacro/mbot_with_camera.xacro'" />

    <param name="robot_description" command="$(arg model)" />

    <!-- <node name="arbotix" pkg="arbotix_python" type="arbotix_driver" output="screen">
        <rosparam file="$(find simulation_learning)/config/fake_mbot_arbotix.yaml" command="load" />
        <param name="sim" value="true"/>
    </node> -->

    <!-- 运行joint_state_publisher节点，发布机器人的关节状态  -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <!-- <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" /> -->

    <!-- 运行robot_state_publisher节点，发布tf  -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- 运行rviz可视化界面 -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find simulation_learning)/config/mbot_arbotix.rviz" required="true" />

</launch>