<launch>
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="car" args="50.98 45.26 0 4.2870522417 0 0 /map /car" output="screen" /> -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="car" args="0 0 0 0 0 0 /map /car" output="screen" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera" args=" 0.4 -0.2 0 -0.012217304764 0 0 /car /camera" output="screen" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="pallet" args=" 0.1 -0.4 0 0 0 0 /camera /pallet" output="screen" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="code"   args="-0.3 -0.5 0 0.005235987756 0 0 /camera /code" output="screen" />

    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="newCar"   args="-0.4 -0.095 0 0 0 0 /map /newCar" output="screen" /> -->
</launch>
